/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Londrina+Solid&family=Permanent+Marker&display=swap');

body {
    background-color: burlywood;
    text-align: center;
}

.font-style-upper {
    font-family: 'Londrina Solid', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

#font-style-text {
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    text-align: center;
}

/* Header */
.header-style {
    background-color: #ffffff;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Game area */
.game-area {
    background-color: #ffffff;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inline-block {
    width: 80px;
    display: inline-block;
}

.flex-style-space-around {
    display: flex;
    justify-content: space-around;
}

#playerChoices img {
    height: 100px;
}

.image-swap {
    cursor: pointer;
    margin: auto;
}

.image-swap>img,
.image-swap:active>img:first-child {
    display: none;
}

.image-swap>img:first-child,
.image-swap:active>img:last-child {
    display: block;
}

#cheat-code {
    width: 60px;
}

/* Footer */
.footer-style {
    position: fixed;
    bottom: 5px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Media query: for really narrow screens (480px and smaller) */
@media screen and (max-width: 480px) {
    .font-style-upper {
        letter-spacing: 1px;
        font-size: 80%;
    }

    .header-style {
        border-radius: 25px 5px;
        width: 95%;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .game-area {
        border-radius: 25px 5px;
        width: 95%;
        margin: auto;
        margin-top: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .footer-style {
        bottom: 1px;
        border-radius: 25px 5px;
        width: 95%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

}
