body {
    background-color: burlywood;
    text-align: center;
}

.header-style {
    background-color: #ffffff;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}